*{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root {
    --main-font: 'alaska', sans-serif;
    --sub-font : arial, sans-serif;
    --temp-color: cyan;
}
body{
    background:  #ffffff;
    color: black;
    font-family: var(--sub-font);
    overflow-x: hidden !important;
}
/* nav bar */
nav{
    margin-top: 6vh;
    display: flex;
    align-items: center;
    overflow-x: hidden !important;
    padding: 0 20px 0 20px;
    width: 100vw;
}
nav > .fa-bars,nav > ul > .fa-times-circle{
    display: none;
}
.fa-moon{
    margin-left: auto;
    position: relative;
    right: 30px;
}
.fa-sun{
    margin-left: auto;
    position: relative;
    right: 30px;
}
nav > ul{
    margin-left: auto;
    position: relative;
}
nav > ul *{
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;
    transition: color 100ms ease;
}
nav > ul > a{
    color: black;
}
nav > ul > a:visited{
    color: black;
}
nav > ul > a:hover{
    color: rgb(24, 123, 204);
}
nav > ul > a > i{
    margin-right: 5px;
}
nav > ul:last-child{
    margin-right: 10px;
}
nav > img{
    height: 70px;
    width: 80px;
}
.darkMode{
    color: whitesmoke;
    background: black;
}
.darkModeElements{
    color: black;
}
@media screen and (max-width:768px){
    nav > ul {
        display: flex;
        flex-direction: column;
        z-index: 1070;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 50px;
        left: -100%;
        overflow-y: hidden;
        background: rgb(151, 140, 97);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(225, 201, 201, 0.3);
        transition: left .5s ease;
    }
    nav > ul *{
        margin: 10px;
    }
    nav > .fa-bars,nav > ul > .fa-times-circle{
        display: block;
    }
    nav > .fa-bars{
        position: absolute;
        right: 15px;
    }
    .fa-moon{
        position : relative;
        right : 30px;
    }
    .fa-sun{
        position : relative;
        right : 30px; 
    }
    .fa-times-circle{
        position: absolute;
        right: 0%;
    }
    nav > img{
        height: 40px;
        width: 40px;
    }
}
/* landing page  */
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 20px 0 20px 0;
    min-height: 80vh;
    font: var(--main-font);
    overflow-x: hidden !important;
}

.landing > img{
    width: auto;
    height: 60vh;
    overflow-x: hidden !important;
}
.textContent *{
    margin-top: 10px;
    overflow-x: hidden !important;
}
.textContent > h1{
    font-size: 3rem;
}
.textContent > p{
    font-size: 1.5rem;
}
@media screen and (max-width : 768px) {
    .landing{
        flex-direction: column-reverse;
    }
    .landing .textContent{
        margin-top: 20px;
        position: relative;
        right: 30px;
    }
    .textContent > h1{
        font-size: 1.5rem;
    }
    .textContent > p{
        font-size: 1rem;
    }
}
#aboutMe{
    min-height: max-content;
    overflow-x: hidden !important;
}
#aboutMe > h2{
    text-align: center;
    text-decoration: underline;
}
.aboutMeContent{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px;
    font-weight: 400;
    font-size: 1.2rem;

} 
.aboutMeContent > p{
    display: grid;
    place-items: center;
    position: relative;
    top: 450px;
    transition: top 800ms ease-in;
}
.aboutMeContent > img{
    height: auto;
    width: 400px;
    border-radius: 20px;
}
@media screen and (max-width : 768px) {
    .aboutMeContent{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}
@media screen and (max-width : 480px) {
    .aboutMeContent > img{
        width: 85vw;
    }
    .aboutMeContent{
        margin-top: 30px;
    }
}