*{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root {
    --main-font: 'alaska', sans-serif;
    --sub-font : arial, sans-serif;
    --temp-color: cyan;
}
body{
    background:  #ffffff;
    color: black;
    font-family: var(--sub-font);
    overflow-x: hidden !important;
}
/* nav bar */
nav{
    margin-top: 6vh;
    display: flex;
    align-items: center;
    overflow-x: hidden !important;
    padding: 0 20px 0 20px;
    width: 100vw;
}
nav > .fa-bars,nav > ul > .fa-times-circle{
    display: none;
}
.fa-moon{
    margin-left: auto;
    position: relative;
    right: 30px;
}
.fa-sun{
    margin-left: auto;
    position: relative;
    right: 30px;
}
nav > ul{
    margin-left: auto;
    position: relative;
}
nav > ul *{
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;
    transition: color 100ms ease;
}
nav > ul > a{
    color: black;
}
nav > ul > a:visited{
    color: black;
}
nav > ul > a:hover{
    color: rgb(24, 123, 204);
}
nav > ul > a > i{
    margin-right: 5px;
}
nav > ul:last-child{
    margin-right: 10px;
}
nav > img{
    height: 70px;
    width: 80px;
}
.darkMode{
    color: whitesmoke;
    background: black;
}
.darkModeElements{
    color: black;
}
@media screen and (max-width:768px){
    nav > ul {
        display: flex;
        flex-direction: column;
        z-index: 1070;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 50px;
        left: -120%;
        overflow-y: hidden;
        background: rgb(151, 140, 97);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(225, 201, 201, 0.3);
        transition: left .5s ease;
    }
    nav > ul *{
        margin: 10px;
    }
    nav > .fa-bars,nav > ul > .fa-times-circle{
        display: block;
    }
    nav > .fa-bars{
        position: absolute;
        right: 15px;
    }
    .fa-moon{
        position : relative;
        right : 30px;
    }
    .fa-sun{
        position : relative;
        right : 30px; 
    }
    .fa-times-circle{
        position: absolute;
        right: 0%;
    }
    nav > img{
        height: 40px;
        width: 40px;
    }
}
/* landing page  */
.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 20px 0 20px 0;
    min-height: 80vh;
    font: var(--main-font);
    overflow-x: hidden !important;
}

.landing > img{
    width: auto;
    height: 60vh;
    overflow-x: hidden !important;
}
.textContent *{
    margin-top: 10px;
    overflow-x: hidden !important;
}
.textContent > h1{
    font-size: 3rem;
}
.textContent > p{
    font-size: 1.5rem;
}
@media screen and (max-width : 768px) {
    .landing{
        flex-direction: column-reverse;
    }
    .landing .textContent{
        margin-top: 20px;
        position: relative;
        right: 30px;
    }
    .textContent > h1{
        font-size: 1.5rem;
    }
    .textContent > p{
        font-size: 1rem;
    }
}
#aboutMe{
    min-height: max-content;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}
#aboutMe > h2{
    text-align: center;
    text-decoration: underline;
}
.aboutMeContent{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px;
    font-weight: 400;
    font-size: 1.2rem;
    background: linear-gradient(90deg,#DB1041,#FD5D34);
    width: 90vw;
    border-radius: 20px;
    margin-top: 20px;
} 
.aboutMeContent > p{
    display: grid;
    place-items: center;
    position: relative;
    top: 150px;
    transition: top 1200ms ease-in;
}
.aboutMeContent > img{
    height: auto;
    width: 400px;
    border-radius: 20px;
    position: relative;
    left: 500px;
    transition: left 600ms ease-in-out;
    animation-delay: 300ms;
}
#cv{
    margin-top: 30px;
    width: 90vw;
    height: 35px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(90deg,#DB1041,#FD5D34);
    color: black;
    font-family: var(--main-font);
    font-weight: 300;
    position: relative;
    transition: all 0.5s;
    z-index: 100;
}
#cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: all 0.5s;
}
#cv:hover::before {
    width: 100%;
}
#cv:hover {
    color: black;
}
#cv:active:before {
    background: #b9b9b9;
}
@media screen and (max-width : 768px) {
    .aboutMeContent{
        margin-top: 4px;
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 10px;

    }
    .aboutMeContent > p{
        padding: 70px;
    }
    #cv{
        margin-top: 10px;
    }
}
@media screen and (max-width : 480px) {
    .aboutMeContent > img{
        width: 80vw;
    }
    .aboutMeContent{
        margin-top: 20px;
        font-size: .9rem;
    }
    .aboutMeContent > p{
        padding: 20px;
    }
}

/* my skill */
#skills{
    background: #D4F4DD;
    text-align: center;
    margin-top: 30px;
    min-height: 80vh;
}
#skills main{
    display: flex;
    justify-content: space-around;
}
#skills main ul{
    display: flex;
}
#skills main img{
    height: 30px;
    width: 30px;
}
  /* projects */
#projects{
    min-height: 100vh;
    position: relative;
}
#projects h2{
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
}
#projects2{
 min-height: 90vh;
 display: flex;
 align-items: center;
 flex-wrap: nowrap;
 overflow-x: scroll;
 width: 95vw;
 position: absolute;
 right: 0%;
}
.vertical-scroll{
    display: flex;
    min-height: 88vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.realProjects{
  padding-left: 15px;
  border-radius: 20px;
  height: 350px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.363) ;
  transition: transform 200ms ease;
  margin: 0 10px 0 10px;
  transition: left 1000ms ease;
}
.realProjects:hover{
  z-index: 1;
  transform: rotate(6deg);
}
.leftMove{
    left: 50px;
}
.complete{
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 10px;
}
.projectTitle{
  margin-top: 30px;
}
.languages{
  margin-top: 60px;
}
.sourceCode{
  margin-top: 10px;
}
.contributions{
  margin-top: auto;
  margin-bottom: 20px;
}
  /* contact */
  #contact{
    height: max-content;
    background: linear-gradient(90deg,hsl(204, 100%, 50%),hsl(204, 100%, 80%));
}
#contact article{
    padding: 20px;
    display: grid;
    place-items: center;
}
@media only screen and (max-width:975px) {
    #contact{
        height: calc(max-content + 50px);
    }
}

#contact h2{
    text-align: center;
    text-decoration: underline;
}
#contact h3{
    /* margin-top: 20px; */
    text-align: center;
}
.mail{
    display: flex;
    flex-direction: column;
}
.meso{
   border: 2px solid white; 
   appearance: none;
   background: #f2f2f2;
   padding : 10px;
   padding-top: 20px;
   border-radius: 3px;
   width: 250px;
   outline: none;
   font-size: 14px;
}
.meso::placeholder{
    color: black;
    transition: color 0.8s ease;
}
.meso:focus::placeholder{
    color: transparent;
}
.email-field{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.email-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
                top 0.3s ease,
                font-size 0.3s ease,
                color 0.3s ease;
}
.email-field input:valid + .placeholder,
.email-field input:focus + .placeholder{
    top: 10px;
    font-size: 10px;
    color:  #C7493A;
}
.email-field input{
    border: none; 
   appearance: none;
   background: #f2f2f2;
   padding : 12px;
   border-radius: 3px;
   width: 250px;
   outline: none;
   font-size: 14px;
}
.email-field .one input{
    background: none;
    border: 2px solid #ddd;
}
.email-field .one input:valid,
.email-field .one input:focus{
    border-color: #222;
    transition-delay: 0.1s;
}

button {
    font-family: inherit;
    font-size: 15px;
    background: #2E1115;
    color: white;
    padding: 0.5em 0.8em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    width: max-content;
}
   
button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
   
button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
} 
button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
} 
button:hover span {
    transform: translateX(5em);
}
button:active {
    transform: scale(0.95);
} 
@keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
    to {
     transform: translateY(-0.1em);
    }
}
form{
    margin-top: 50px;
    margin-left: 20px
}
button{
    margin-top: 30px;
}
.contacticons{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.iconss{
  margin-left: 19px;
  font-size: 20px;
}
#tm{
    text-align: center;
    position: relative;
    top : 10px;
  }
  .svg-icon {
      width: 17px;
      height: 17px;
    }
    
    .svg-icon path,
    .svg-icon polygon,
    .svg-icon rect {
      fill: black;
    }
#facebook{
    color: #4267B2;
}
#twitter{
    color: #00A1E5;
}
#whatsapp{
    color: rgb(27, 167, 202);
}
#spotify{
    color: #1DD05D;
}
#linkedin{
    color: #0270AD;
}
.iconss{
    transition: font-size .3s ease;
}
.iconss:hover{
    font-size: 30px;
}

#lass{
    height: 50vh;
    width: 400px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}
#lass >  div{
    height: 10px;
    width: 10px;
    background: white;
    border-radius: 50%;
    position: relative;
}